@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-roboto {
    font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat;
}

ul,
ol,
li {
    list-style-type: none;
}

a {
    color: var(--white-color);
    text-decoration: none;
}

:root {
    --primary-color: #7a5af5;
    --primary-color-400: #ad8ffa;
    --dark-color: #121212;
    --gray-color: #2b2b2b;
    --light-gray-color: #3f3f3f;
    --text-color: #cab4fd;
    --white-color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--white-color);
}

body {
    background-color: var(--dark-color);
    color: var(--white-color);
}

.pointer-events-none {
    pointer-events: none;
}

.container {
    max-width: 1820px;
    margin: 20px auto 60px auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    margin: 10px 0;
    transition: 0.3s ease-in-out;
}

.fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: var(--dark-color);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--white-color);
    text-decoration: none;
}

.nav-input {
    width: 200px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.nav-input:focus {
    padding: 5px;
    padding-left: 10px;
    width: 500px;
    border-radius: 10px;
    background-color: var(--dark-color);
    color: var(--white-color);
}

.login {
    padding: 5px 25px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.login:hover {
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--primary-color);
}

.recommendation-carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}

.recommendation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s ease-in-out;
    min-width: 100%;
}

.rec-img {
    position: relative;
    width: 100%;
    height: 70vh;
    opacity: 50%;
}

.rec-info {
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--white-color);
}

.rec-rating {
    margin-bottom: 20px;
}

.rec-title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.rec-desc {
    width: 50%;
    margin: 10px 0;
    font-size: 16px;
    font-weight: normal;
}

.btn {
    padding: 10px 30px;
    margin: 20px 0;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--primary-color);
}

.rec-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 10px;
}

.rec-buttons>button {
    margin: 0;
    padding: 10px 20px;
}

.rec-buttons>button:focus {
    border: none;
    outline: none;
}

.post-img {
    width: 250px;
    height: 300px;
}

.post-title {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-card {
    position: relative;
}

.post-card:hover .post-title {
    color: var(--primary-color);
}

.post-card:hover .post-info {
    display: flex;
}

.post-info {
    width: 250px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: var(--dark-color);
    border: 1px solid var(--primary-color-400);
    opacity: 0.9;
    flex-direction: column;
    display: none;
    z-index: 10;
    gap: 10px;
    box-shadow: 0px 0px 35px 10px rgba(43, 43, 43, 1) inset;
    -webkit-box-shadow: 0px 0px 35px 10px rgba(43, 43, 43, 1) inset;
    -moz-box-shadow: 0px 0px 35px 10px rgba(43, 43, 43, 1) inset;
}

.info {
    display: flex;
}

.truncate-text-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-text-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-text-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-text-vertical {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.genres-ul {
    display: flex;
    flex-wrap: wrap;
}

.genres-ul>li {
    margin-left: 10px;
}

.trend-title {
    color: var(--primary-color);
    margin: 20px 0;
}

.trend-box {
    display: flex;
}

.trend-content {
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.trend-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.trend-buttons>button {
    margin: 0;
    padding: 60px 20px;
}

.trend-buttons>button:focus {
    border: none;
    outline: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid-box {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-color);
}

.grid-box>h3 {
    color: var(--primary-color-400);
    margin: 20px;
}

.grid-box>button {
    margin: 0;
}

.content {
    padding: 20px;
    transition: 0.3s ease-in-out;
}


.content:nth-child(odd) {
    background-color: var(--light-gray-color);
}

.content:hover {
    border: 1px solid var(--white-color);
}

.card-img {
    width: 50px;
    height: 60px;
}

.card-info {
    margin-left: 10px;
    color: #a9a9a9;
}

.card-title {
    font-size: 16px;
    color: var(--white-color);
}

.content-card {
    display: flex;
}

.card-btn {
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    padding: 10px 30px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.card-btn:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.recent-title {
    color: var(--primary-color);
    margin: 20px 0;
    font-size: 24px;
}

.recently-box {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.recent-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.genres-box {
    width: 25vw;
}

.flex {
    display: flex;
}

.genre-title {
    color: var(--primary-color);
    margin: 20px 0;
}

.genres-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--gray-color);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.genre {
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.genre:hover {
    background-color: var(--primary-color);
}

.watch-container {
    display: flex;
}

.watch-info {
    width: 30vw;
    color: #a9a9a9;
}

.anime-title {
    font-size: 24px;
    color: var(--white-color);
}

.anime-about>li>span {
    color: var(--white-color);
}

.control-box {
    display: flex;
    width: 70vw;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.video {
    width: inherit;
    height: 60vh;
}

.controller {
    max-width: inherit;
}

.episode-controll {
    display: flex;
}

.episode-list {
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

.episode-list>li {
    padding: 10px;
    cursor: pointer;
}

.active {
    background-color: var(--white-color);
    color: var(--dark-color);
}

.control-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.control-btn:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.episode-input {
    border: none;
    outline: none;
    background-color: var(--gray-color);
    color: var(--white-color);
    padding: 10px;
    width: 50px;
    margin-right: 10px;
}

.episode-input::-webkit-outer-spin-button,
.episode-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.episode-input[type=number] {
    -moz-appearance: textfield;
}

.anime-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}

.anime-info>img {
    width: 250px;
}

.anime-about {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.anime-desc {
    max-height: 150px;
    overflow: auto;
}

.search-content {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    gap: 20px;
}

#searchResultHeading {
    margin: 20px 0;
}

.search-card {
    width: 250px;
    height: 300px;
}

.search-title {
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

.search-img {
    width: inherit;
    height: inherit;
}

.genre-btn {
    width: inherit;
}

.burger-menu {
    display: none;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--white-color);
}

.burger-menu-links {
    display: none;
    position: absolute;
    right: 0;
    z-index: 100;
    background-color: var(--dark-color);
    height: 100vh;
    padding: 20px;
}

.burger-active {
    display: flex;
}

.burger-close {
    display: none;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--white-color);
}

.burger-links {
    display: flex;
    flex-direction: column;
}

.burger-links>li {
    width: 180px;
    padding: 10px;
}

@media(max-width: 1440px) {
    .container {
        width: 1340px;
    }

    .fixed {
        padding: 20px;
        margin: 0;
    }

    .rec-info {
        margin: 0 10px;
    }

    .rec-buttons {
        right: 10px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .flex {
        flex-direction: column;
    }

    .recently-box {
        width: 100%;
    }

    .genres-box {
        width: 100%;
    }
}

@media(max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .container {
        width: 100%;
        margin: 0 auto 20px auto;
        padding: 0 20px;
    }

    .burger-menu {
        display: flex;
    }

    .fixed {
        margin: 0;
        right: 0;
    }

    .nav-logo {
        font-size: 16px;
        font-weight: bold;
    }

    .nav-input {
        width: 30px;
        padding: 5px;
    }

    .nav-input:focus {
        width: 300px;
    }

    .login {
        display: none;
    }

    .rec-desc {
        display: none;
    }

    .rec-img {
        height: 30vh;
    }

    .rec-info {
        width: 90vw;
    }

    .rec-rating {
        font-size: 12px;
        font-weight: lighter;
    }

    .rec-title {
        font-size: 12px;
    }

    .rec-buttons {
        display: none;
    }

    .btn {
        padding: 5px 10px;
    }

    .post-img {
        width: 150px;
        height: 200px;
    }

    .post-title {
        width: 150px;
    }

    .trend-content {
        overflow: auto;
    }

    .post-card:hover .post-info {
        display: none;
    }

    .trend-buttons {
        display: none;
    }

    .grid-section {
        display: none;
    }

    .recent-content {
        justify-content: center;
        gap: 40px;
    }

    .recently-box {
        margin-bottom: 40px;
    }

    .genre-title {
        display: none;
    }

    .genres-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .watch-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .watch-info {
        width: 100%;
        margin-bottom: 20px;
    }

    .anime-info {
        flex-direction: row;
    }

    .control-box {
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    .video {
        width: inherit;
        max-height: 50vh;
        align-self: center;
    }

    .anime-title {
        font-size: 20px;
    }

    .episode-input {
        padding: 5px;
        width: 40px;
        height: 40px;
    }

    .episode-controll {
        width: inherit;
    }

    .genres-box {
        display: none;
    }
}

@media(max-width: 425px) {
    .nav-input {
        display: none;
    }

    .navbar {
        margin: 10px 0;
    }

    .fixed {
        margin: 0;
    }

    .rec-info {
        margin: 0;
    }

    .rec-rating {
        margin-bottom: 10px;
    }

    .rec-title {
        margin: 0;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .recent-content {
        gap: 40px;
    }

    .post-img {
        width: 170px;
        height: 220px;
    }

    .genres-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .anime-info {
        flex-direction: column;
    }

    .video {
        height: 30vh;
    }
}